<div class="home">
  <div class="card text-center">
    <div class="card-body">
      <h1 class="card-title">Build Scripts flawessely using Ai</h1>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam optio
        animi minus iusto obcaecati deserunt, necessitatibus, illum aliquid ipsa
        omnis voluptas tempora labore aspernatur tempore veritatis, alias minima
        ut pariatur?
      </p>
      <button type="button" class="btn btn-primary">Try it!</button>
    </div>
  </div>
</div>
